
body {
    font: 100% / 1.5 Raleway, sans-serif;
   
    background: linear-gradient(135deg, hsl(230, 39%, 15%), hsl(231, 24%, 15%));
  

  }


.app-img{

    width: 50%;
    height: 30%;
    border-radius: 50%;
    margin: auto;
    margin-top: 2rem;
}

.teacher-img{

    height: 300px;
    cursor: pointer;

}

.teacher{

    outline: 2px solid rgb(112, 112, 151);
    box-shadow:  2px 2px 2px 3px rgb(183, 183, 230);
}

.app-container{

    background-color: hsl(230, 100%, 95%);
    cursor: pointer;
}

span{

    font-weight: 600;
    text-align: left;
}

 h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 4rem;
    color: hsl(230, 100%, 95%);
    color: red;
   font-weight: bold;
   font-size: 3rem;  
 } 

 .card-title{

    color: blue;
    font-weight: 700;
    font-family: cursive;
 }

 .card-text {
    color: brown;
    font-weight: 700;
    font-family: cursive;
    animation: blink 2s infinite;
  }
  

  
  @keyframes blink {
    50% {
      opacity: .6;
    }
  }

.img-head{
    width: 250px;
    border-radius: 100px;
    margin: auto;
}

 footer{
    background-color: hsl(230, 100%, 95%);
    padding: 2rem;
    font-size: 1.5rem;
    font-style: italic;
 }


  
  h2 {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 300;
    animation: lights 4s 750ms linear infinite;
    color: hsl(230, 100%, 95%);
  }
  
  @keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }